.mask-background {
	top: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100000000;
	background: rgba(255,255,255,.6)
}

.mask-animation {	
	font-size: 150px;
	position: absolute;
	z-index: 100000000;
	top: 50%;
	left: 50%;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% {
	-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin { 100% {
	-webkit-transform: rotate(360deg);}
}

@keyframes spin { 100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);}
}
