/*font-family: 'Source Sans Pro', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');


html{
    font-size: 40px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.35rem;
    overflow-x: hidden;
    color: #333;
    background: white;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

p {
    font-weight: 400;
    margin: 0 0 0.375rem;
    color: #333;
}

a {
    color: #000;
    text-decoration: none !important;
    display: inline-block;
}

img{max-width: 100%;}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 700;
}

h1 {
    margin-bottom: 0.75rem;
    font-size: 0.9rem;
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 0.75rem
}

h4 {
    margin-bottom: 0.375rem;
    font-size: 0.475rem;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

button {
    outline: none;
}

/*--------------------------------------------------    NICE SCROLL---------------------------------------------------*/
.nicescroll-rails-vr {
    z-index:99990!important;
    background-color:#00652D;
    padding: 0 0 0 1px;
}
.btn {
    border: solid 2px #00652d;
    border-radius: 0;
    font-size: 0.35rem;
    padding: 0.175rem 0.325rem;
    position: relative;
    cursor: pointer;
    color: #00652d !important;
    /* background-color: #fff !important; */
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none !important;
    outline: none !important;
}
.btn:focus {
    outline-offset: none;
}
.btn-bb {
    background-color: #fff;
    border: solid 2px #00652d;
    border-radius: 2px;
    color: #00652d !important;
    font-weight: 700;
    width: auto;
    height: 0.95rem;
    padding: 0.15rem 0.2rem;
    text-align: center;
}

.btn-bb-sm {
    background-color: #fff;
    border: solid 2px #00652d;
    border-radius: 2px;
    color: #00652d !important;
    font-weight: 700;
    width: 0.95rem;
    height: 0.95rem;
    padding: 0.1rem;
}

.btn-bb:hover, .btn-bb-sm:hover {
    border: solid 2px #00652d;
    border-radius: 2px;
    color: #00652d !important;
}
.rightspace15 {
	margin-right: 0.375rem;
	margin-left: 0.18rem;
}
.bottomspace30 {
    margin-bottom: 0.75rem;
}
.text-red {
    color: red;
}

.main-header {
    min-height: 1.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    background-color: #fff;
}
.main-header .navbar-menu, .main-header .navbar-brand, .main-header .navbar-right {
    float: left;
    height: 1.25rem;
    padding: 0.2rem 0.2rem;
}
.main-header .navbar-menu>img, .main-header .navbar-brand>img, .main-header .navbar-right>img {
    height: 0.85rem;
}
.main-header .navbar-right {
    float: right;
    height: 1.25rem;;
    padding: 0.2rem 0.2rem;
    font-size: 0.75rem;
    line-height: 0.5rem;
    color: #00652d !important;
}
#myNavbar img {
    width: 1rem;
}
.list-menu-wrap li svg {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    vertical-align: middle;
}
.list-menu-wrap li svg  path {
    fill: #00652D;
}
.list-menu-wrap li.active svg  path {
    fill: #D20023;
}
.top-menu-wrap {
    display: flex;
    justify-content: space-around;
}
.top-menu-wrap .top-menu-item {
    margin: 0 0.2rem;
    position: relative;
    min-width: 1.125rem;
}
.top-menu-wrap .text-item {
    font-size: 0.725rem;
    color: #00652D;
    border: solid 2px #00652D;
    text-align: center;
}
.top-menu-wrap .top-menu-item.text-item.active, .top-menu-wrap .top-menu-item.text-item:hover {
    color: #D20023 !important;
    border: solid 2px #D20023 !important;
}
.main-header .container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-header .navbar-collapse {
    max-height: calc(100% - 1.5rem);
}
.top-menu-wrap .top-menu-item .dropdown-menu {
    min-width: 4rem;
}
.top-menu-wrap .top-menu-item .dropdown-menu>li>a {
    display: block;
    padding: 0.075rem 0.5rem;
}
.top-menu-item .favorite-count {
    position: absolute;
    top: 0px;
    right: -0.1rem;
    background-color: #00652d;
    font-size: 0.3rem
}
.list-menu-wrap li {
    border-top: solid 1px #00652d;
}
.list-menu-wrap li.active a {
    color: #D20023;
}
#search_modal .input-group {
    width: 100%;
}
#search_modal .modal-dialog, #filter_modal .modal-dialog, #sort_modal .modal-dialog, #emp_modal .modal-dialog{
    background-color: #fff;
    margin: 0;
}
#search_modal #top_search_input, #search_modal .input-group-btn button  {
    height: 1rem;
    border: solid 2px #00652d;
    border-radius: 0;
}
#search_modal #top_search_input {
    width: calc(100% - 1.25rem);
    float: right;
    /*font-size: 0.35rem;*/
}
#search_modal .input-group-btn {
    width: 1rem;
}
#search_modal .input-group-btn button {
    margin: 0;
    border: none;
    padding: 0 0.2rem;
    background-color: #fff;
    color: #00652d;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0;
    float: right;
}
#search_modal .input-group-btn button img {
    vertical-align: top;
    width: 0.925rem;
}

.footer-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00652d;
    min-height: 1.25rem;
    z-index: 9999;
}
.footer-wrap .footer-item {
    padding: 0.09rem;
    font-size: 0.6rem;
}
.footer-wrap .footer-item a {
    padding: 0.2rem;
    color: #ffffff;
}
.content-wrap {
    margin: 1.5rem 0;
    padding: 0 0.45rem 0.5rem;
}
.square-item {
    padding: 0.45rem 0;
    text-align: center;
    font-size: 0.45rem;
}
.square-item svg {
    height: 1.25rem;
    width: 100%;
}
.square-item svg path {
    fill: #00652d;
}

.square-item a:hover>svg path {
    fill: #D20023;
}

.product-wrap, .preview-wrap {
    border: 1px solid #eaebeb;
    border-radius: 2px;
    margin: 0 1px;
    margin-bottom: 0.5rem;
    overflow: hidden;
    /*background: #fafaf8;*/
}
.product-wrap .figure-wrap {
    position: relative;
    height: 4.5rem;
    border-bottom: 1px solid #eaebeb;
}
.figure-wrap .pointer-div {
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    width: 100px;
    height: 100px;
    z-index: 999;
}
.figure-wrap .pointer-div a {
    width: 100%;
    height: 100%;
}
.product-wrap .figure-wrap-only, .preview-wrap .figure-wrap-only {
    position: relative;
    height: 4.5rem;
}
.product-wrap .favorite {
    position: absolute;
    top: 0.125rem;
    right: 0.125rem;
    z-index: 100;
}
.product-wrap .favorite img {
    width: 0.75rem;
}    
.bg-image {
    background-size: 100% auto !important;
}
.preview-wrap {
    border-radius: 0.125rem;
}
.preview-wrap .bg-image {
    background-size: 100% 100% !important;
}
.company-profile {
    margin: 0.13333333333333333rem 0;
}
.company-profile .profile-item {
    padding: 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.company-profile .profile-item span.text-span {
    overflow: hidden;
    text-overflow: ellipsis;
    /*width: 7rem;*/
    /* white-space: nowrap; */
}
.company-profile .profile-item > svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
    vertical-align: middle;
}
/*.company-profile .profile-item > svg path {
    fill: #00652D;
}*/
.company-profile .profile-item > img:first-child {
    width: 0.75rem;
    margin-right: 0.25rem;
}
.company-profile .profile-item > i:first-child {
    font-size: 0.75rem;
    color: #00652d;
    margin-right: 0.25rem;
}
.profile-item .company-rating {
    margin-right: 0.125rem;
}
.rating-stars {
    margin-left: 0.125rem;
}
.rating-stars i {
    color: #ffd953 !important;
}
.contact-button-div {
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}
.contact-button-div .btn, .rating-button-div .btn {
    font-size: 0.45rem;
}
.contact-button-div .btn-bb, .rating-button-div .btn-bb {
    /* width: 3.5rem; */
    height: 0.95rem;
    padding: 0.1rem 0.2rem;
    text-align: center;
}

.contact-button-div .btn-bb-sm {
    width: 0.95rem;
    height: 0.95rem;
    padding: 0.1rem;
}

.filter-panel {
    margin-bottom: 0.13333333333333333rem;
    color: black !important;
}
.filter-panel .filter-result {
    padding-top: 0.10666666666666667rem;
    font-size: 18px;
    font-weight: 700;
}
.filter-wrapper {
    padding: 0.12rem 0.2rem 0.1rem;
}
.filter-wrapper label {
    font-size: 0.5rem;
    margin-bottom: 0;
    vertical-align: bottom;
}
.filter-wrapper .selectpicker.btn {
    border: 2px solid #00652d;
    padding: 0.125rem 0.25rem;
    font-weight: 700;
}
.filter-wrapper .selectpicker.btn {
    height: 1rem;
}
.filter-wrapper .selectpicker.btn {
    border: 2px solid #00652d;
}
.selectpicker.btn span.right {
    padding: 0.2rem 0.4rem;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.45rem;
    height: 100%;
    border-left: solid 2px #00652D;
 }
#contact_modal .selectpicker.btn span.right, #rating_modal .selectpicker.btn span.right {
    margin-top: -0.405rem;
}
.selectpicker.btn span.right .caret {
    top: 50%;
    right: 0.3rem;
    margin-top: 0;
}
.filter-wrapper .filtered .selectpicker.btn {
    border: solid 2px #D20023 !important;
    color: #D20023 !important;
}
.filter-wrapper .filtered .selectpicker.btn span.right {
    border-left: solid 2px #D20023;
}
.filter-panel .filter-wrapper label {
    display: inline-block;
    margin: 0.2rem 0;
}
.filter-wrapper .dropdown-menu a:active, .filter-wrapper .dropdown-menu a:focus, .filter-wrapper .dropdown-menu a:hover {
    border: solid 2px #D20023 !important;
    color: #D20023 !important;
}

.products-div /*.products-panel*/ {
    /*margin-bottom: 50px;*/
}

.img-preview {
    max-width: 3.5rem;
}

.company-panel {
    margin-bottom: 0.75rem;
}
.company-logo-div img {
    max-height: 4.25rem;
    max-width: 100%;
    margin-bottom: 0.5rem;
}
.profile-item .flag-div {
    display: flex;
    flex-wrap: wrap;
}
.profile-item .flag-div img {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.1rem;
 }
.ratings-panel, .youtube-panel, .map-panel {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}
.ratings-panel .rating-wrap {
    position: relative;
    border: 1px solid #eaebeb;
    margin-bottom: 0.5rem;
    padding: 0.13333333333333333rem;
}
.ratings-panel .rating-wrap img {
    position: absolute;
    right: 0.13333333333333333rem;
    top: 0.13333333333333333rem;
    width: 0.75rem;
}
.btns-inquery-div {
    display: flex;
    flex-direction: column;
}
.btns-inquery-div .col-sm-5 {
    order: 1;
}
.btns-inquery-div .col-sm-7 {
    order: 2;
}

.profile-wrap {
    /*display: flex;*/
}
.m-box {
    padding: 0.5rem 0;
    box-shadow: 0px 1px 0.2rem 1px rgba(69,65,78,0.08);
}
.profile-wrap .account-profile {
    /*height: calc(100%);*/
}
.profile-wrap h4.underlined {
    letter-spacing: 1px;
    border-bottom: 2px solid #00652D;
    padding-bottom: 0.13333333333333333rem;
    color: #00652D;
}
.profile-wrap .m-box {
    margin: 0;
}
.profile-wrap .img-preview-div {
    margin-bottom: 0.13333333333333333rem;
}
.profile-wrap .profile-name {
    display: block;
    font-size: 0.45rem;
}
.profile-wrap .profile-email {
    color: #7b7e8a;
}
.profile-wrap .profile-pic {
    margin: 0.75rem auto;
}
.profile-wrap .profile-pic img {
    height: 2rem;
}
.profile-wrap .account-sidebar .m-separator {
    margin: 0.75rem 0;
    border-bottom: 1px solid #f4f5f8;
}
.profile-wrap .account-sidebar.nav-pills>li>a {
    border-radius: 0;
    font-weight: 500;
    font-size: 0.4rem;
}
.profile-wrap .account-sidebar.nav-pills>li.active>a {
    background-color: #00652D;
}
.m-company-form div.tagsinput {
    min-height: 0.85rem;
    height: auto !important;
    padding: 0.075rem;
}
.m-company-form div.tagsinput span.tag {
    padding: 2px;
    margin-bottom: 0;
}
.m-company-form div.tagsinput input {
    width: 4rem !important;
    padding: 2px;
    margin-bottom: 0;
}
.form-control {
    border-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
.form-control:focus {
    box-shadow: none !important;
    border: 1px solid #ccc;
}
.submit-button {
    padding: 0.13333333333333333rem 0.75rem;
    color: #fff;
    background-color: #f36c21;
    border: none;
    border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    font-weight: 600;
    font-size: 0.4rem;
}

.submit-button:hover {
    background: linear-gradient(to right, #7475e6, #a964b7, #e04a84);
    box-shadow: 0px 0.13333333333333333rem 1.25rem rgba(0, 0, 0, 0.3);
}

.modal .rating-stars-div .rating-stars {
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.modal .btn-send{
    margin: 0.3rem 0;

}
.modal .g-recaptcha {
    min-height: 2rem;
}
.modal .right-part .g-recaptcha{
    position: absolute;
    bottom: 2.25rem;
    right: 0.5rem;
}

button.del-product {
    float: right;
    margin-top: 0.13333333333333333rem;
    margin-right: 0.13333333333333333rem;
    background-color: #D20023 !important;
}

.form-control {
    border-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
.form-control:focus {
    box-shadow: none !important;
    border: 1px solid #ccc;
}

.carousel-v1 .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.175rem 0.375rem;
    background: rgba(0, 0, 0, 0.7);
}
.carousel-v1 .carousel-arrow a.carousel-control {
    opacity: 1;
    font-size: 1rem;
    height: inherit;
    width: inherit;
    background: none;
    text-shadow: none;
    position: inherit;
}
.carousel-v1 .carousel-arrow a i:hover {
    opacity: 0.6;
}
.carousel-v1 .carousel-arrow a i {
    top: 50%;
    opacity: 0.2;
    background-color: #D20023;
    margin-top: -0.45rem;
    padding: 2px 0.3rem;
    position: absolute;
}
.carousel-v1 .carousel-arrow a.left i {
    left: 0;
}
.carousel-v1 .carousel-arrow a.right i {
    right: 0;
}
.carousel-caption {
    display: inline-table;
}
.carousel-caption p {
    color: #fff !important;
    margin: 0;
}

.close-icon {
    border: none;
    width: 1rem;
    padding: 2px;
    float: left;
}

.footer-wrap .footer-item a.active {
    color: #D20023;
}
.main-header .navbar-header {
    display: flex;
}
.navbar-header .navbar-brand {
    width: calc(100% - 2.5rem);
    padding: 0;
}
.navbar-header .navbar-brand img {
    margin: auto;
    height: 1.25rem;
}

.bootbox .modal-footer .btn:hover {
    border: solid 2px #D20023;
    color: #D20023 !important;
    background-color: #fff;
}

.form-control, .tagsinput {
    border: solid 2px #00652D !important;
    font-size: 0.35rem;
    padding: 0.15rem 0.3rem;
    /* height: 1rem; */
}
.has-error .form-control, .form-control:focus, .form-control:hover, .tagsinput:focus, .tagsinput:hover {
    border: solid 2px #D20023 !important;
}
.btn-group.open span.right {
    border-left: solid 2px #D20023 !important;
}
.selectpicker:hover, .selectpicker:focus {
    border: solid 2px #D20023  !important;
    color: #D20023 !important;
    background-color: #fff !important;
}
.form-control button {
    border: none !important;
}
.form-control button:hover, .form-control button:focus, {
    border: none !important;
    outline: none;
    outline-offset: 0; 
    color: #D20023 !important;
}

.footer-wrap .fav-item {
    position: relative;
    margin-right: 0.5rem;
}
.footer-wrap .fav-item .favorite-count {
    position: absolute;
    top: 0.15rem;
    right: -0.15rem;
    padding: 0.1rem 0.25rem;
    background: transparent;
    color: white;
    font-size: 0.35rem;
}
.modal-open .modal {
    padding-bottom: 1.25rem;
}

.lang-sel button.selectpicker {
    padding: 0.1rem 0.325rem;
    border:none;
}
.lang-sel button.selectpicker:hover {
    border:none !important;
}

.add_img_icon {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    bottom: 0.5rem;
    right: 0.5rem;
}
.phone_text {
    color: #00652D;
}


button.close {
    opacity: 1 !important;
}
.x_btn_img {
    width: 0.6rem;
}

.filter-panel {
    margin-bottom: 0.25rem;
    color: black !important;
}
.filter-panel .filter-result {
    padding-top: 0.125rem;
    font-size: 0.45rem;
    font-weight: 700;
}

.result-text {
    float: left;
    border: solid 2px transparent;
}
.category-tag {
    float: left;
    position: relative;
    border: solid 2px #00652D;
    padding-right: 0.5rem;
}
.category-tag img.tag-icon {
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    right: 2px;
    top: 0.125rem;
    cursor: pointer;
}
.filter-panel {
    margin-bottom: 0.5rem !important;
}


.btn-red {
    background-color: #D20023 !important;
    border: solid 2px #D20023;
    color: #FFFFFF !important;
}


.dropdown-menu.selectpicker li a {
    outline: none !important;
}

.company-name {
    font-weight: bold !important;
}

.form-group.has-error .selectpicker {
    border: solid 2px #D20023 !important;
    color: #D20023 !important;
}

.turnDeviceNotification {
    position:fixed;
    top: 0;
    left:0;
    height:100%;
    width:100%;
    display: none;
}

.turnDeviceNotification {
  background-image:url('../images/turnDevice.png');
  background-size:cover;
}

.bootstrap-select {
    height: auto;
}

img.register-img {
    /*height: 41.09px !important;
    width: 41.09px !important;*/
    border: solid 2px #00652d;
    border-radius: 3px;
    padding: 4.5px;
}

img.register-img.active {
    border: solid 2px #D20023;
}

@media screen and (min-width: 600px) {
    img#preview_avatar {
        width: 70%;
    }
}
@media screen and (max-width: 600px) {
    img#preview_avatar {
        width: 220px !important;
    }
}
.product-pic-label, .youtube-label, .rating-label, .map-label {
    margin-left: 15px;
}

.ui-autocomplete {
    z-index: 9999;
}

.ui-autocomplete li {
    background: #fff;
    padding: 2px 5px;
}

.ui-helper-hidden-accessible div {
    display: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
select:focus,
textarea[name="content"] {
  font-size: 16px;
}

.main-navbar .navbar-right .img-item img {
    height: 38px;
}

.main-navbar .navbar-right {
    float: right;
    margin-right: 5px;
}

.main-navbar img.logo-mini {
    margin: 10px 0px;
}

.grecaptcha-badge { 
    bottom:65px !important; 
}

.preview_header {
    margin: 20px;
    color: white;
}

.form-group.has-error .selectpicker span.right {
    border-left: solid 2px #D20023 !important;
    border-right: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.avatar-wrap{
    margin-bottom: 20px;
    overflow: hidden;
}
.avatar-wrap .favorite {
    position: absolute;
    top: 7px;
    right: 23px;
    z-index: 100;
}
.avatar-wrap .favorite img {
    width: 30px;
}
