* {
    direction: rtl !important;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9  {
    float: right;
}
.close {
    float: left;
}
.pull-left {
    float: right !important;
}
.pull-right {
    float: left !important;
}
.right .fa-angle-right:before {
    content: "\f104";
}
.left .fa-angle-left:before {
    content: "\f105";
}
div.tagsinput div {
    float: right !important;
}
div.tagsinput span.tag {
    float: right !important;
}

/*--------------------------------------------------    NICE SCROLL---------------------------------------------------*/
.nicescroll-rails-vr {
    padding: 0 1px 0 0x;
}
.top-menu-wrap {
    flex-direction: row-reverse;
}
.rightspace15 {
	margin-right: 0.18rem;
    margin-left: 0.375rem;
}

.main-header .navbar-menu, .main-header .navbar-brand, .main-header .navbar-right {
    float: right;
}
.main-header .navbar-right {
    float: left;
}

.top-menu-item .favorite-count {
    right: initial;
    left: -0.1rem;
}

#search_modal #top_search_input {
    float: left;
}
#search_modal .input-group-btn button {
    float: left;
}

/*.square-item {
    float: right;
}*/

.figure-wrap .pointer-div {
    right: initial;
    left: calc(50% - 50px);
}

.product-wrap .favorite {
    right: initial;
    left: 0.125rem;
}
.company-profile .profile-item > svg {
    margin-right: initial;
    margin-left: 0.25rem;
}
.company-profile .profile-item > img:first-child {
    margin-right: initial;
    margin-left: 0.25rem;
}
.company-profile .profile-item > i:first-child {
    margin-right: initial;
    margin-left: 0.25rem;
}
.profile-item .company-rating {
    margin-right: initial;
    margin-left: 0.125rem;
}
.rating-stars {
    margin-left: initial;
    margin-right: 0.125rem;
}
.selectpicker {
    text-align: right;
}
.selectpicker.btn span.right {
    right: initial;
    left: 0;
    border-left: none;
    border-right: solid 2px #00652D;
 }
 .selectpicker.btn:hover span.right {
    border-left: none;
    border-right: solid 2px #D20023;
}
.btn-group.open span.right {
    border-left: solid 0px #D20023 !important;
}
.filter-wrapper .filtered .selectpicker.btn span.right {
    border-left: none;
    border-right: solid 2px #D20023;
}
.selectpicker.btn span.right .caret {
    right: initial;
    left: 0.3rem;
}

.profile-item .flag-div {
    display: flex;
    flex-wrap: wrap;
}

.ratings-panel .rating-wrap img {
    right: initial;
    left: 0.13333333333333333rem;
}

.modal .right-part .g-recaptcha {
    right: initial;
    left: 0.5rem;
}

button.del-product {
    float: left;
    margin-right: initial;
    margin-left: 0.13333333333333333rem;
    background-color: #D20023 !important;
}


.carousel-v1 .carousel-arrow a.left i {
    left: initial;
    right: 0;
}
.carousel-v1 .carousel-arrow a.right i {
    right: initial;
    left: 0;
}

.close-icon {
    float: right;
}

.main-header .navbar-header {
    display: flex;
}

.btn-group.open span.right {
    border-left: none;
    border-right: solid 2px #D20023 !important;
}

.footer-wrap .fav-item {
    margin-right: initial;
    margin-left: 0.5rem;
}
.footer-wrap .fav-item .favorite-count {
    right: initial;
    left: -0.15rem;
}

.add_img_icon {
    right: initial;
    left: 0.5rem;
}

.result-text {
    float: right;
}
.category-tag {
    float: right;
    padding-right: initial;
    padding-left: 0.5rem;
}
.category-tag img.tag-icon {
    right: initial;
    left: 2px;
}
.btn-del-account {
    width: 4.3rem !important;
}

.bootstrap-select>.btn {
    padding-right: 0.3rem;
    padding-left: 0.625rem;
}
.bootstrap-select.btn-group .btn .filter-option {
    text-align: right !important;
}
.bootstrap-select.btn-group .btn .caret {
    right: initial !important;
    left: 0.3rem !important;
}
.about_lg {
    float: left;
    margin-right: 0.1rem;
}

.top-menu-item > .dropdown-menu > li > a {
    float: right;
}

@media screen and (min-width: 600px) {
    img#preview_avatar {
        width: 70%;
    }
}

.product-pic-label, .youtube-label, .rating-label, .map-label {
    margin-right: 15px;
}

.ui-autocomplete {
    z-index: 9999;
}

.ui-autocomplete li {
    background: #fff;
    padding: 2px 5px;
}

.ui-helper-hidden-accessible div {
    display: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
select:focus,
textarea[name="content"] {
  font-size: 16px;
}

.main-navbar .navbar-right .img-item img {
    height: 38px;
}

.main-navbar .navbar-right {
    float: right;
    margin-right: 5px;
}

.main-navbar img.logo-mini {
    margin: 10px 0px;
}

.checkbox label {
    padding-right: 20px;
}

.form-group.has-error .selectpicker span.right {
    border-right: solid 2px #D20023 !important;
    border-left: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.grecaptcha-badge { 
    display: none; 
}
