@media (max-width: 1600px) {
	
}
@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
    

}

@media (max-width: 481px) {
  

}
@media (max-width: 1199px) {

}

@media (max-width: 1024px) {
    
    
}
@media (max-width: 991px) {
	.btns-inquery-div {
	    display: flex;
		flex-direction: column;
		margin-left: -4px;
	}
	.btns-inquery-div .col-md-5 {
	    order: 1;
	}
	.btns-inquery-div .col-md-7 {
	    order: 2;
	}
	.main-container {
		width: 100%;
	}
	.sidebar.pad-r30 {
		padding-right: 0;
	}
	.sidebar .categories>li:hover {
	    background: #f6f6f6;
	    padding-left: 0;
	}
	.profile-wrap {
		display: block;
	}
}
@media (max-width: 840px) {
	
}
@media (max-width: 768px) {

}

@media (max-width: 767px) {
	.navbar-toggle {
		margin-top: 0;
		border: none;
	}
	.navbar-toggle img {
		width: 34px;
		height: 32px;
	}
	.navbar-right {
		display: flex;
		justify-content: space-around;
	}
	.btns-inquery-div {
	    display: flex;
	    flex-direction: column;
	}
	.btns-inquery-div .col-sm-5 {
	    order: 1;
	}
	.btns-inquery-div .col-sm-7 {
	    order: 2;
	}
}
@media (max-width: 720px) {
    
}

@media (max-width: 640px) {
	.
}

@media (max-width: 480px) {
	.main-navbar .navbar-brand .logo-lg {
	    display: none;
	}
	.main-navbar .navbar-brand .logo-mini {
	    display: block;
	}
	
}
	

@media (max-width: 375px) {
	

}
@media (max-width: 360px) {
    
}
