* {
    direction: rtl !important;
}
.top-search .input-group-btn {
    padding-left: 0;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .navbar-header {
        float: right;
    }
    .navbar-right {
        float: left !important;
        margin-right: initial;
        margin-left: -15px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9  {
        float: right;
    }
}

.close {
    float: left;
}

.pull-left {
    float: right !important;
}
.pull-right {
    float: left !important;
}
.right .fa-angle-right:before {
    content: "\f104";
}
.left .fa-angle-left:before {
    content: "\f105";
}
div.tagsinput div {
    float: right !important;
}
div.tagsinput span.tag {
    float: right !important;
}
.navbar-nav>li {
    float: right;
}
.dropdown-menu>li>a {
    text-align: right;
}
/*--------------------------------------------------    NICE SCROLL---------------------------------------------------*/
.nicescroll-rails-vr {
    padding: 0 1px 0 0;
}

.btn-bb > i {
    margin-right: 0;
    margin-left: 10px;
}
.rightspace15 {
    margin-right: 0;
    margin-left: 15px;
}
.pad-r30 {
    padding-right: 0;
    padding-left: 30px;
}
.pad-l100 {
    padding-left: 0;
    padding-right: 100px;
}
.main-navbar .navbar-right .favorite-item .badge {
    right: initial;
    left: -5px;
}
.main-navbar .navbar-right .img-item.favorite-item a {
    margin-right: 0;
    margin-left: 15px;
}

.sidebar-wrapper {
    padding-left: initial;
    padding-right: 0;
}

.categories>li:hover {
    padding-left: initial;
    padding-right: 15px;
}
.categories>li > a > svg {
    margin-right: initial;
    margin-left: 5px;
}

.top-search .input-group-btn {
    padding-left: initial;
    padding-right: 20px;
}

.product-wrap .favorite {
    right: initial;
    left: 5px;
}
.company-profile .profile-item > svg {
    margin-right: initial;
    margin-left: 10px;
}
.company-profile .profile-item > img:first-child {
    margin-right: initial;
    margin-left: 10px;
}
.company-profile .profile-item > i:first-child {
    margin-right: initial;
    margin-left: 10px;
}
.profile-item .company-rating {
    margin-right: initial;
    margin-left: 5px;
}
.rating-stars {
    margin-left: initial;
    margin-right: 5px;
}
.selectpicker {
    text-align: right;
}
.selectpicker.btn span.right {
    right: initial;
    left: 0;
    border-left: none;
    border-right: solid 2px #00652D;
 }
 .selectpicker.btn:hover span.right {
    border-left: none;
    border-right: solid 2px #D20023;
}
.filter-wrapper .filtered .selectpicker.btn span.right {
    border-left: none;
    border-right: solid 2px #D20023;
}
.selectpicker.btn span.right .caret {
    right: initial;
    left: 10px;
}
.filter-panel .filter-wrapper label {
    margin-left: 2px;
    margin-right: 10px;
}
.filter-panel .filter-wrapper label.sort {
    margin-left: initial;
    margin-right: 10px;
}

.profile-item .flag-div img {
    float: right;
    margin-right: initial;
    margin-left: 10px;
}
.ratings-panel .rating-wrap img {
    right: initial;
    left: 10px;
}

.modal .right-part {
    padding-left: initial;
    padding-right: 30px;
}
.modal .right-part .btn-send {
    right: initial;
    left: 20px;
}
.modal .right-part .g-recaptcha {
    right: initial;
    left: 20px;
}

button.del-product {
    float: left;
    margin-right: initial;
    margin-left: 10px;
    background-color: #D20023 !important;
}

.carousel-v1 .carousel-arrow a.left i {
    left: initial;
    right: 0;
}
.carousel-v1 .carousel-arrow a.right i {
    right: initial;
    left: 0;
}

.close-icon {
    float: right;
}

.add_img_icon {
    right: initial;
    left: 20px;
}

.result-text {
    float: right;
}
.category-tag {
    float: right;
    padding-right: initial;
    padding-left: 20px;
}
.category-tag img.tag-icon {
    right: initial;
    left: 2px;
}

.g-recaptcha {
    right: initial; !important;
    right: -50px !important;
    margin-bottom: 15px;
}

.bootstrap-select>.btn {
    padding-right: 12px;
    padding-left: 25px;
}
.bootstrap-select.btn-group .btn .filter-option {
    text-align: right !important;
}
.bootstrap-select.btn-group .btn .caret {
    right: initial !important;
    left: 12px !important;
}
.about_lg {
    float: left;
    margin-right: 4px;
}

.product-pic-label, .youtube-label, .rating-label, .map-label {
    margin-right: 15px;
}


@media screen and (max-width: 992px) {
    img#preview_avatar {
        width: 140px;
        height: 140px;
    }

    .company-panel .company-logo-div img {
        width: 200px;
        height: 160px;
    }
}

@media screen and (min-width: 992px) {
    img#preview_avatar {
        width: 150px;
        height: 150px;
    }

    .company-panel .company-logo-div img {
        width: 200px;
        height: 150px;
    }
}

.checkbox label {
    padding-right: 20px;
}

.form-group.has-error .selectpicker span.right {
    border-right: solid 2px #D20023 !important;
    border-left: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
