/*font-family: 'Source Sans Pro', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    color: #333;
    background: white;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

p {
    font-weight: 400;
    margin: 0 0 15px;
    color: #333;
}

a {
    color: #000;
    text-decoration: none !important;
    display: inline-block;
}

img{max-width: 100%;}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 700;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

button {
    outline: none;
}

/*--------------------------------------------------    NICE SCROLL---------------------------------------------------*/
.nicescroll-rails-vr {
    z-index:99990!important;
    background-color:#00652D;
    padding: 0 0 0 1px;
}

.btn {
    border-radius: 0;
    font-size: 14px;
    padding: 7px 13px;
    position: relative;
    cursor: pointer;
    border: solid 2px #00652D;
    color: #00652D !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none !important;
    outline: none !important;
}

.btn-bb {
    background-color: #fff;
    border: solid 2px #00652D;
    border-radius: 2px;
    color: #00652D !important;
    font-weight: 700;
    min-width: 110px;
    height: 38px;
    padding: 5.5px 6px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-bb-sm {
    background-color: #fff;
    border: solid 2px #00652D;
    border-radius: 2px;
    color: #00652D !important;
    font-weight: 700;
    width: 38px;
    height: 38px;
    padding: 4px;
    margin-bottom: 10px;
}

.btn:hover {
    border: solid 2px #D20023 !important;
    color: #D20023 !important;
    background-color: #fff !important;
}

.btn-bb > i {
    margin-right: 10px;
}

.topspace15 {
    margin-top: 15px;
}

.topspace30 {
    margin-top: 30px;
}

.bottomspace10 {
    margin-bottom: 10px;
}

.bottomspace30 {
    margin-bottom: 30px;
}

.rightspace15 {
    margin-right: 15px;
}

.pad-tb50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.pad-r30 {
    padding-right: 30px;
}
.pad-l100 {
    padding-left: 100px;
}
.pad-lr50 {
    padding-left: 50px;
    padding-right: 50px;
}
.text-red {
    color: red;
}

.main-navbar {
    background: #fff;
    padding: 11px 0px;
    border: none;
}
.main-navbar .navbar-brand {
    padding: 0;
}
.main-navbar .navbar-brand img {
    height: 50px;
}
.main-navbar .navbar-brand .logo-lg {
    display: block;
}
.main-navbar .navbar-brand .logo-mini {
    display: none;
}

.main-navbar .navbar-right .img-item > a {
    padding: 0 7px;
}
.main-navbar .navbar-right .img-item img {
    height: 38px;
}
.main-navbar .navbar-right .favorite-item .badge {
    right: -5px;
    top: -5px;
    position: absolute;
    background-color: #00652D;
    color: #fff;
}
.main-navbar .navbar-right .img-item.favorite-item a {
    position: relative;
    margin-right: 15px;
}
.main-navbar .navbar-right .text-item a {
    padding: 0px 2px;
    margin: 0 10px;
    font-size: 34px;
    color: #00652D;
    border: solid 2px #00652D;
    width: 38px;
    height: 38px;
}
.text-item.active a, .text-item a:hover {
    color: #D20023 !important;
    border: solid 2px #D20023 !important;
    background-color: white !important;
}

.sidebar-wrapper {
    padding-left: 0;
}
.page-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.categories>li {
    position: relative;
    display: block;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-position: 9px 16px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #EDEDDE;
    padding: 10px 0;
    transition: all 0.3s;
}
.categories>li:hover {
    background: #f6f6f6;
    padding-left: 15px;
}
.categories>li:hover > a > svg path {
    fill: #d20023 !important;
}
.categories>li > a > svg{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    vertical-align: middle;
}
.categories>li > a > svg path {
    fill: #00652D;
}
.categories>li.active > a > svg path {
    fill: #D20023;
}
.categories>li.active a {
    color: #D20023;
}
.categories>li:hover a {
    color: #d20023;
}

.top-search {
    margin-bottom: 20px;
}
.top-search .input-group-btn {
    padding-left: 20px;
}
.top-search .form-control {
    height: 38px;
}
.top-search .btn {
    background-color: #fff;
    border: solid 2px #00652D;
    border-radius: 2px;
    color: #00652D !important;
    font-weight: 700;
    padding: 7px 13px;
}
.top-search .btn:hover {
    border: solid 2px #D20023;
    color: #D20023 !important;
}

.product-wrap, .preview-wrap, .category-wrap{
    border: 1px solid #eaebeb;
    border-radius: 2px;
    margin: 0 1px;
    margin-bottom: 20px;
    overflow: hidden;
    /*background: #fafaf8;*/
}

.avatar-wrap{
    margin-bottom: 20px;
    /* overflow: hidden; */
}
.avatar-wrap .favorite {
    position: absolute;
    top: 7px;
    right: 26px;
    z-index: 100;
}
.avatar-wrap .favorite img {
    width: 30px;
}    

.bxslider .product-wrap, .preview-wrap{
    margin-bottom: 0;
}
.figure-wrap {
    position: relative;
    height: 180px;
    border-bottom: 1px solid #eaebeb;
}
.category-wrap .category-img {
    border-right: 1px solid #eaebeb;
    min-height: 100px;
}
.figure-wrap .pointer-div {
    position: absolute;
    top: calc(50% - 70px);
    right: calc(50% - 95px);
    width: 190px;
    height: 150px;
    z-index: 999;
}

.figure-wrap .pointer-div a {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1300px) {
    .figure-wrap .pointer-div {
		position: absolute;
		top: calc(50% - 100px);
		right: calc(50% - 95px);
		width: 190px;
		height: 150px;
		z-index: 999;
	}
}

.product-wrap .figure-wrap-only, .preview-wrap .figure-wrap-only {
    position: relative;
    height: 180px;
}
.product-wrap .favorite {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}
.product-wrap .favorite img {
    width: 30px;
}    
.bg-image {
    background-size: 100% auto !important;
}
.preview-wrap {
    border-radius: 5px;
}
.preview-wrap .bg-image {
    background-size: 100% 100% !important;
}
.company-profile {
    margin: 10px 0;
}
.category-detail , .category-img{
    padding: 10px;
}
.company-profile .profile-item {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.company-profile .profile-item span.text-span {
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 200px; */   
    white-space: nowrap;
}
.company-profile .profile-item > svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
/*.company-profile .profile-item > svg path {
    fill: #00652D;
}*/
.company-profile .profile-item > img:first-child {
    width: 30px;
    margin-right: 10px;
}
.company-profile .profile-item > i:first-child {
    font-size: 30px;
    color: #00652d;
    margin-right: 10px;
}
.profile-item .company-rating {
    margin-right: 5px;
}
.rating-stars {
    margin-left: 5px;
}
.rating-stars i {
    color: #ffd953 !important;
}


.footer {
    margin-bottom: 60px;
}

.filter-panel {
    margin-bottom: 10px;
    color: black !important;
}
.filter-panel .filter-result {
    padding-top: 5px;
    font-size: 18px;
    font-weight: 700;
}
.filter-wrapper .selectpicker.btn {
    border: 2px solid #00652d;
    padding: 5px 10px;
    font-weight: 700;
}
.selectpicker.btn span.right {
    padding: 0 15px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    height: 100%;
    border-left: solid 2px #00652D;
 }
#contact_modal .selectpicker.btn span.right, #rating_modal .selectpicker.btn span.right {
    margin-top: -17px;
}
.selectpicker.btn span.right .caret {
    top: 50%;
    right: 10px;
    margin-top: -2px;
}
.selectpicker.btn:hover span.right {
    border-left: solid 2px #D20023;
}
.filter-wrapper .filtered .selectpicker.btn {
    border: solid 2px #D20023 !important;
    color: #D20023 !important;
}
.filter-wrapper .filtered .selectpicker.btn span.right {
    border-left: solid 2px #D20023;
}
.filter-panel .filter-wrapper label {
    margin-left: 10px;
    margin-right: 2px;
}
.filter-panel .filter-wrapper label.sort {
    margin-left: 10px;
}
.filter-wrapper .dropdown-menu a:active, .filter-wrapper .dropdown-menu a:focus, .filter-wrapper .dropdown-menu a:hover {
    border: solid 2px #D20023 !important;
    color: #D20023 !important;
}

.products-div /*.products-panel*/ {
    margin-top: 30px;
    margin-bottom: 30px;
}
.img-preview {
    max-width: 140px;
    margin-bottom: 10px;
}
.company-panel .company-logo-div {
    margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
    img#preview_avatar {
        width: 170px;
        height: 160px;
    }

    .company-panel .company-logo-div img {
        width: 200px;
        height: 160px;
    }
}

@media screen and (min-width: 992px) {
    img#preview_avatar {
        width: 140px;
        height: 150px;
    }
    
    .company-panel .company-logo-div img {
        width: 200px;
        height: 150px;
    }
}

/* iPad */
/*@media screen and (max-width: 768px) {
    img#preview_avatar {
        width: 150px;
        height: 150px;
    }

    .company-panel .company-logo-div img {
        width: 250px;
        height: 180px;
    }
}*/

.profile-item .flag-div img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.ratings-panel, .youtube-panel, .map-panel {
    margin-top: 20px;
    margin-bottom: 40px;
}

.ratings-panel .rating-wrap {
    position: relative;
    border: 1px solid #eaebeb;
    margin-bottom: 20px;
    padding: 10px;
}
.ratings-panel .rating-wrap img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
}

.profile-wrap {
    display: flex;
}
.m-box {
    padding: 20px 0;
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
}
.profile-wrap .account-profile {
    height: calc(100%);
}
.profile-wrap h4.underlined {
    letter-spacing: 1px;
    border-bottom: 2px solid #00652D;
    padding-bottom: 10px;
    color: #00652D;
}
.profile-wrap .m-box {
    margin: 0;
}
.profile-wrap .img-preview-div {
    margin-bottom: 10px;
}
.profile-wrap .profile-name {
    display: block;
    font-size: 18px;
}
.profile-wrap .profile-email {
    color: #7b7e8a;
}
.profile-wrap .profile-pic {
    margin: 30px auto;
}
.profile-wrap .profile-pic img {
    width: 150px;
    height: 150px;
}
.profile-wrap .account-sidebar .m-separator {
    margin: 30px 0;
    border-bottom: 1px solid #f4f5f8;
}
.profile-wrap .account-sidebar.nav-pills>li>a {
    border-radius: 0;
    font-weight: 500;
    font-size: 16px;
}
.profile-wrap .account-sidebar.nav-pills>li.active>a {
    background-color: #00652D;
}
.m-company-form div.tagsinput {
    min-height: 34px;
    height: auto !important;
    padding: 3px;
}
.m-company-form div.tagsinput span.tag {
    padding: 2px;
    margin-bottom: 0;
}
.m-company-form div.tagsinput input {
    width: 100px;
    padding: 2px;
    margin-bottom: 0;
}
.form-control {
    border-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
.form-control:focus {
    box-shadow: none !important;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 10px 30px;
    color: #fff;
    background-color: #f36c21;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.submit-button:hover {
    background: linear-gradient(to right, #7475e6, #a964b7, #e04a84);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.modal .right-part {
    display: flex;
    position: relative;
    padding-left: 30px;
    height: 430px;
}
.modal .rating-stars-div {
    position: absolute;
    top: 70px;
}
.modal .rating-stars-div .rating-stars {
    font-size: 20px;
}
.modal .right-part .btn-send{
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.modal .right-part .g-recaptcha{
    position: absolute;
    bottom: 90px;
    right: 20px;
}

button.del-product {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #D20023 !important;
}

.carousel-v1 .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7px 15px;
    background: rgba(0, 0, 0, 0.7);
}
.carousel-v1 .carousel-arrow a.carousel-control {
    opacity: 1;
    font-size: 30px;
    height: inherit;
    width: inherit;
    background: none;
    text-shadow: none;
    position: inherit;
}
.carousel-v1 .carousel-arrow a i:hover {
    opacity: 0.6;
}
.carousel-v1 .carousel-arrow a i {
    top: 50%;
    opacity: 0.2;
    background-color: grey;
    margin-top: -18px;
    padding: 2px 12px;
    position: absolute;
}
.carousel-v1 .carousel-arrow a.left i {
    left: 0;
}
.carousel-v1 .carousel-arrow a.right i {
    right: 0;
}
.carousel-caption {
    display: inline-table;
}
.carousel-caption p {
    color: #fff !important;
    margin: 0;
}

.bootbox .modal-footer .btn {
    background-color: #fff;
    border: solid 2px #00652d;
    border-radius: 2px;
    color: #00652d !important;
    font-weight: 700;
    width: 74px;
    padding: 4px;
}
.bootbox .modal-footer .btn:hover {
    border: solid 2px #D20023;
    color: #D20023 !important;
    background-color: #fff;
}

.form-control, .tagsinput {
    border: solid 2px #00652D !important;
}
.has-error .form-control, .form-control:focus, .form-control:hover,  .tagsinput:focus, .tagsinput:hover {
    border: solid 2px #D20023 !important;
}

.close-icon {
    width: 1rem;
    padding: 0.05rem;
    float: left;
}

.lang-sel button.selectpicker {
    padding: 5px 13px;
    border:none;
}
.lang-sel button.selectpicker:hover {
    border:none !important;
}

.add_img_icon {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom:20px;
    right: 20px;
}
.phone_text {
    color: #00652D;
}

.result-text {
    float: left;
    border: solid 2px transparent;
}
.category-tag {
    float: left;
    position: relative;
    border: solid 2px #00652D;
    padding-right: 20px;
}
.category-tag img.tag-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 2px;
    top: 5px;
    cursor: pointer;
}
.filter-panel .view-btn {
    padding: 0;
    margin-bottom: 0;
    height: 34px;
    font-size: 23px;
}

.btn-bb-sm.selected {
    border: solid 2px #D20023;
    color: #D20023 !important;
}

.product-wrap.list .figure-wrap {
    border-bottom: none;
}
.product-wrap.list>.figure-wrap {
    padding: 0;
    border-right: 1px solid #eaebeb;
}

.btn-red {
    background-color: #D20023;
    border: solid 2px #D20023;
    color: #FFFFFF !important;
}

button.close {
    opacity: 1 !important;
}
.x_btn_img {
    width: 24px;
}

.dropdown-menu.selectpicker li a {
    outline: none !important;
}
.company-name {
    font-weight: bold !important;
}

.form-group.has-error .selectpicker {
    border: solid 2px #D20023 !important;
    color: #D20023 !important;
}

.form-group.has-error .selectpicker span.right {
    border-left: solid 2px #D20023 !important;
    border-right: none !important;
}

.g-recaptcha {
    right: 10px !important;
    margin-bottom: 15px;
}

.recaptScale {
    transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.company-profile a:hover {
    color: red;
}

.category-tag {
    margin-left: 5px;
    padding-left: 5px;
}

img.register-img {
    height: 24px !important;
}

li.register a {
    vertical-align: middle;
    border: solid 2px #00652D;
    border-radius: 3px;
    height: 38px;
    padding: 5px !important;
}

li.register a span {
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: #00652D;
}


li.register a:hover {
    border: solid 2px #D20023;
}

li.register a:hover span {
    color: #D20023;
}

li.register a.active {
    border: solid 2px #D20023;
}

li.register a.active span {
    color: #D20023;
}

#rating_recaptcha {
    max-width: 100%;
}

.product-pic-label, .youtube-label, .rating-label, .map-label {
    margin-left: 15px;
}

.preview_header {
    margin-left: 100px;
    margin-top: 10px;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.btns-inquery-div {
    margin-top: 10px !important;
}

.option_type {
	margin-left:10px !important;
	margin-right:10px !important;
}
